<section [ngClass]="{ mobile: mobile, tablet: tablet }" class="get-started">
  <div class="get-started__content">
    <header class="get-started__header">
      <h1 class="get-started__header--small">New Games &amp; Accessories</h1>
      <h2 class="get-started__header--large">Monthly packages.</h2>
      <h2 class="get-started__header--large">Excitement delivered daily.</h2>
    </header>
    <p class="get-started__description">
      What's the best way to shop for the latest video games and peripheals? How
      about never shopping at all? You'll get new stuff on your doorstep &mdash;
      every month.
    </p>
    <button class="get-started__btn">Get started</button>
  </div>
</section>
