<section [ngClass]="{ mobile: mobile, tablet: tablet }" class="how-it-works">
  <header class="how-it-works__header">
    <h3 class="how-it-works__title">How It Works</h3>
  </header>
  <div class="how-it-works__steps">
    <ng-container *ngFor="let step of steps$ | async">
      <article class="how-it-works__step">
        <header class="how-it-works__step-header">
          <span class="how-it-works__step-number">0{{ step.stepNumber }}</span>
          <h4 class="how-it-works__step-title">
            {{ step.title | uppercase }}
          </h4>
        </header>
        <p class="how-it-works__step-details">{{ step.body }}</p>
      </article>
    </ng-container>
  </div>
</section>
